@{
    ViewBag.Title = "ShowUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userList = (IEnumerable<user>)ViewData["UserList"];
}

<h2>Show User</h2>
<table border="1">
    
        @{
            foreach (var item in userList)
            {
                <tr>
                    <td style="padding: 20px;">@item.first_name</td>
                    <td style="padding: 20px;">@item.last_name</td>
                    <td style="padding: 20px;">@item.email</td>
                    <td style="padding: 20px;">@item.age</td>
                    <td style="padding: 20px;">@item.address</td>
                    <td style="padding: 20px;">@item.password</td>
                    <td style="padding: 20px;">
                        <!-- Button 1 -->
                        <form method="post" action="Update">
                            <!-- Button 2 -->
                            <input type="hidden" name="id" value="@item.user_id" />
                            <button >Edit</button>
                        </form>
                        <form method="post" action="Delete">
                            <!-- Button 2 -->
                            <input type="hidden" name="id" value="@item.user_id" />
                            <button>Delete</button>
                        </form>

                    </td>
                </tr>
            }
        }
    </table>

